backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
certifi==2016.2.28
Flask==0.10.1
itsdangerous==0.24
Jinja2==2.8
livereload==2.4.1
MarkupSafe==0.23
plotly==1.9.7
pytz==2016.3
requests==2.9.1
singledispatch==3.4.0.3
six==1.10.0
tornado==4.3
Werkzeug==0.11.5
